body {
  font-family: "Varela Round", Calibri, Arial, sans-serif;
}
#input {
  padding-top: 0px;
  font-family: "Varela Round", Calibri, Arial, sans-serif;
  background: #FFFFFF;
  padding-bottom: 10px;
  font-size: 15px;
  color: #939DA3;
  font-weight: 400;
  margin-top: 0px;
}

#input textarea {
  margin-bottom: 10px;
  background: #FFFFFF;
}

#input .nav-pills {
  margin-top: 10px;
}

#manual-arrow {
  position: absolute;
  top: 45%;
  left: 2.5%;
  color: #24BEFF;
}

#manual-arrow2 {
  position: absolute;
  top: 59.2%;
  left: 2.5%;
  color: #24BEFF;
}

#manual-arrow3 {
  position: absolute;
  top: 49.5%;
  left: 2.5%;
  color: #24BEFF;
}

#header-text {
  padding-top: 30px;
  font-size: 50px;
  color: #3BEF89;
}

#header-sub-text {
  font-size: 25px;
  color: #fff;
}

.main-section {
  color: #5D35DC;
}


.nav-pills-docs > li {
  width: 30%;
  display: table-cell;
  float: none;
  }
.nav-pills-docs > li > a {
  border-radius: 5px 5px 0px 0px;
  border: 0px solid #5D35DB;
  height: 30px;
  text-align: center;
  padding-bottom: 7%;
  color: #1D1F21;
  width: 100%;

}
.nav-pills-docs > li + li {
 display: table-cell;

}
.nav-pills-docs > li.active > a,
.nav-pills-docs > li.active > a:hover,
.nav-pills-docs > li.active > a:focus {
  color: #fff;
  /* Rectangle 1: */
  background-color:#5D3ED8;
}

.btn-primary-table:focus {
    outline: none;
}

#input .nav-pills {
  margin-top: 25px;
}

.modal-backdrop {
  bottom: 0;
  position: fixed;
}

#in-progress-doc {
  background-image: linear-gradient(45deg,#5D3ED8  0%, #43CEA2 100%);
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

#in-progress-doc a {
  color: #3CEF89;
}
#intro-wrapper {
  margin-right: 250px;
}
#intro-content {
  float: left;
  text-align: justify;
  width: 100%;
}
#intro-sidebar {
  float: right;
  width: 250px;
  margin-right: -250px;
}
#intro-cleared {
  clear: both;
}
.spinner > div {
  width: 10px;
  height: 10px;
}

/*-- Chart --*/
.c3 svg {
  font: 9px "Varela Round", Calibri, Arial, sans-serif;; }

.c3 path, .c3 line {
  fill: none;
  stroke: #000; }

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid, .c3-event-rect, .c3-bars path {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff; }

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa; }

.c3-grid text {
  fill: #aaa; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.c3-line {
  stroke-width: 1px; }

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.c3-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.c3-bar {
  stroke-width: 0px;
 }

.c3-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: 0.1; }

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: 0.1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: 0.15; }

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Tooltip --*/
.c3-tooltip-container {
  border: 2px solid #D8DAE1;
  border-radius: 2px;
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 0px 0px 0px 0px #777777;
  -moz-box-shadow: 0px 0px 0px 0px #777777;
  box-shadow: 0px 0px 0px 0px #777777;
  opacity: 1;

}

.c3-tooltip tr {
  border: 0px solid black; }

.c3-tooltip th {
  background-color: #3CEF89;
  font-size: 10px;
  padding: 2px 5px;
  text-align: center;
  color: black; }

.c3-tooltip td {
  font-size: 10px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 0px solid #999;
  text-align: left;
 }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777; }

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }

.result-part-text {
  padding-top: 250px;
  font-size: 30px;
  color: #1ED56E;
}

.bs-callout{
  padding:20px;
  margin:20px 0;
  border:2px solid #eee;
  border-left-width:5px;
  border-radius:3px;
}

.bs-callout-warning {
  padding:20px;
  margin:20px 0;
  border:2px solid #eee;
  border-left-width:5px;
  border-radius:3px;
  border-left-color:#aa6708;

}

.bs-callout-danger{
  border-left-color:#ce4844;
}

.bs-callout-info {
  padding:20px;
  margin:20px 0;
  border:2px solid #eee;
  border-left-width:5px;
  border-radius:3px;
  border-left-color:#1b809e;
}


.nav-pills-filtering > li {
  width: 160px;
  height: 10px;
  line-height: 0px;
  display: table-cell;
  float: none;

  }

  .nav-pills-filtering > li > a {
    border-radius: 5px;
    border: 0px solid #5D35DB;
    text-align: center;
    padding-top: 20px;
    color: #1D1F21;
    width: 100%;

  }

  .nav-pills-filtering > li.active > a,
  .nav-pills-filtering > li.active > a:hover,
  .nav-pills-filtering > li.active > a:focus {
    color: #fff;
    /* Rectangle 1: */
    background-color: #1ED56E;
  }
