/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    font-family: "Varela Round", Calibri, Arial, sans-serif;
}

#wrapper {
    width: 100%;
    background-image: linear-gradient(45deg,#5D3ED8  0%, #43CEA2 100%);
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #FAFBFD;
}

#details-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #FAFBFD;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 150px;
        padding: 0 10px;
        border-left: 0px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar {
  background-color: transparent;
  border: 0px solid black;

}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 0px solid #e7e7e7;
}

.sidebar ul li a {
    background-color: transparent;
    color: white;
    font-size: 12px;
}

.sidebar ul li a:hover {
    background-color: #FAFBFD;
    color: black;
}

.sidebar ul li a.active {
    background-color: #FAFBFD;
    color: black;

}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 150px;
        margin-top: 15px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 20px;
}


.panel-heading {
  padding: 5px 5px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}


.panel-purple {
    border: 0px solid #6325F4;
    border-radius: 8px;
}

.panel-purple .panel-heading {
    border-color: #6C59E5;
    color: #fff;
    background-color: #6325F4;
    border-radius: 12px 12px 0px 0px;
}

.panel-purple a {
    color: #6C59E5;

}

.panel-purple a:hover {
    color: #452FB2;
    text-decoration: none;
}


.panel-green {
    border: 0px solid #2FD372;
    border-radius: 8px;
}

.panel-green .panel-heading {
    color: #fff;
    background-color: #2FD372;
    border-radius: 12px 12px 0px 0px;

}


.panel-green a {
    color: #2FD372;
}

.panel-green a:hover {
    color: #2FBB72;
    text-decoration: none;
}

.panel-red {
    border-color: #E72637;
    border: 0px solid #E72637;
    border-radius: 8px;

}

.panel-red .panel-heading {
    border-color: #E72637;
    color: #fff;
    background-color: #E72637;
    border-radius: 12px 12px 0px 0px;
    margin-left: 0px;

}

.panel-red a {
    color: #E72637;
}

.panel-red a:hover {
    color: #C92637;
    text-decoration: none;
}

.panel-grey {
    border-color: grey;
    border: 0px solid grey;
    border-radius: 8px;

}

.panel-grey .panel-heading {
    border-color: grey;
    color: #fff;
    background-color: grey;
    border-radius: 12px 12px 0px 0px;

}

.panel-grey a {
  color: black;
  text-decoration: none;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
    text-decoration: none;
}

.admin-logo {
    height: 170px;
    width: 200px;
    padding-left: 25px;

}

#main-table {
  text-align: center;
  border: 3px solid #F5F5F5;
}

#table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px solid #ddd;
}
#table > tbody + tbody {
  border-top: 0px solid #ddd;
}
h1 {
  color: #6325F4;
}

.btn-print {
  color: #FFFFFF;
  border: 2px solid #5D2ADF;
  border-radius: 5px;
  font-size: 15px;
  line-height: 30px;
}

.btn-print:hover {
  color: black;
  border: 2px solid #3CEF89;
  border-radius: 5px;
  font-size: 15px;
  line-height: 30px;
  background-color: #3CEF89;
}
.main-panel-sub {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 15px;
}

.start-over-wrapper {
  margin-top: 20%;
  margin-bottom: 30%;
}

.start-over-wrapper > .repeat {
  color: #6325F4;
}

#countdown {
  font-size: 15px;
  padding-bottom: 7px;
}

.btn-more {
  color: #FFFFFF;
  border: 2px solid #5D2ADF;
  border-radius: 5px;
  font-size: 13px;
  background-color: #6325F4;
  margin-left: -25px;
}

.btn-more:hover {
  color: black;
  border: 2px solid #3CEF89;
  border-radius: 5px;
  font-size: 13px;
  background-color: #3CEF89;
  margin-left: -25px;

}

.table {
  text-align: center;
}

.separator {
  height: 1px;
  color: black;
  border: 0.5px solid #F5F5F5;
}
.dropdown-menu {
  min-width: 142px;
  font-size: 12px;
  padding: 10px;
}

select.btn-sm {
	width: 50px;
	height: 30px;
	vertical-align: top;
}
.ts-pager, select.btn-sm {
  display: inline-block;
}

h3 {
  color: #6325F4;
}

.panel-default {
  margin-bottom: 0px;
  border: 2px solid #F5F5F5;
  border-radius: 10px;
  margin-top: 0px;
}

.repeat {
  color: #6325F4;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #F5F5F5;
  border: 2px solid white;
}

.panel-heading-collapse {
  color: #6325F4;
  padding: 10px;
  font-size: 9px;
}

.panel-heading-collapse a {
  color: #6325F4;
  font-size: 14px;
  text-decoration: none;
}
